@model GetUserDetailsResponse
@inject JwtHelper JwtHelper

@{
    var accommodations = TempData["Accommodations"] as List<AccommodationListViewModel>;
    var reservations = TempData["Reservations"] as List<ReservationListViewModel>;
}

<div class="wrapper">
    <menu>
        <h1 class="h1-1">
            Hello, <br>
            <a class="nickname">@JwtHelper.GetClaimFromToken("sub")</a>
        </h1>

        <div class="menu-links">
            <a asp-controller="User" asp-action="SendPasswordResetCode" class="menu-btn">Reset password</a>
            <a asp-controller="User" asp-action="TwoFactorManager" class="menu-btn">Manage two factor authentication</a>
            <a asp-controller="Accommodation" asp-action="Create" class="menu-btn">Add accommodation</a>
            <a asp-controller="Account" asp-action="Logout" class="menu-btn menu-btn-danger">Logout</a>
        </div>

    </menu>
    <div class="content">
        <div class="account">
            <div class="container">
                <h2 class="h2-1">Your proposition</h2>
                @if (accommodations.Count <= 0)
                {
                    <h2 class="hot-title">You haven't added any proposition yet.</h2>
                }
                else
                {
                    <div class="account-flex">
                        @foreach (var accommodation in accommodations)
                        {
                            <div class="account-item">
                                <img src="@accommodation.ImgUrl" alt="" class="account-img">
                                <div class="account-content">
                                    <h2 class="hot-title">@accommodation.Name</h2>
                                    <p class="hot-description">@accommodation.ShortDescription</p>
                                    <p class="hot-description">Category: @accommodation.Category.Name</p>
                                    <p class="hot-description">Price: @accommodation.Price per day</p>
                                    <p class="hot-description">Capacity: @accommodation.Capacity</p>
                                    <p class="hot-description">Address: @accommodation.Address</p>
                                    <a asp-controller="Accommodation" asp-action="Details" asp-route-AccommodationId="@accommodation.Id" class="account-accommodation-btn">Details</a>
                                    <a href="@Url.Action("Update", "Accommodation", new { id = accommodation.Id})" class="account-accommodation-btn">Update</a>
                                    <a class="account-accommodation-btn" onclick="deleteAccommodation('@accommodation.Id')">Delete</a>
                                </div>
                            </div>
                        }
                    </div>
                }

                <h2 class="h2-1">Your reservations</h2>

                @if (reservations.Count <= 0)
                {
                    <h2 class="hot-title">You haven't reserve any propositions.</h2>
                }
                else
                {
                    <div class="account-flex">
                        @foreach (var reservation in reservations)
                        {
                            <div class="account-item">
                                <div class="account-content">
                                    <h2 class="hot-title">Accommodation: @reservation.Accommodation.Name</h2>
                                    <p class="hot-description">Check-in date: @reservation.CheckInDate</p>
                                    <p class="hot-description">Check-out date: @reservation.CheckOutDate</p>
                                    <p class="hot-description">Customer note: @reservation.CustomerNote</p>
                                    <p class="hot-description">Guest count: @reservation.GuestsCount</p>
                                    <p class="hot-description">Price: @reservation.ReservationPrice</p>
                                    <a asp-controller="Accommodation" asp-action="Details" asp-route-AccommodationId="@reservation.AccommodationId" class="account-accommodation-btn">Accommodation details</a>
                                    <a class="account-accommodation-btn" onclick="deleteReservation('@reservation.Id')">Delete</a>
                                </div>
                            </div>
                        }
                    </div>
                }

            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
         let hide = true;

        let toggle = document.querySelector(".form-toggle")
        let img = document.querySelector(".form-img")
        let password = document.querySelector(".password")

        toggle.onclick = () => {
           hide = !hide;
           if (hide){
              img.src = "show.png"
              password.type = "password"
           } else{
              img.src = "hide.png"
              password.type = "text"
           }
        }

        function deleteAccommodation(accommodationId) {
            $.ajax({
                url: '@Url.Action("Delete", "Accommodation")/' + accommodationId,
                type: 'DELETE',
                dataType: 'json',
                success: function (response) {
                    window.location.href = "/Home/Index";
                },
                error: function (xhr, status, error) {
                    console.error('Error:', error);
                    alert('Сталася помилка при видаленні. Спробуйте ще раз.');
                }
            });
        }

        function deleteReservation(reservationId) {
            $.ajax({
                url: '@Url.Action("Delete", "Reservation")' + '?reservationId=' + encodeURIComponent(reservationId),
                type: 'DELETE',
                dataType: 'json',
                success: function (response) {
                    window.location.href = "/Home/Index";
                },
                error: function (xhr, status, error) {
                    console.error('Error:', error);
                    alert('Сталася помилка при видаленні. Спробуйте ще раз.');
                }
            });
        }

    </script>
}